<?xml version='1.0' encoding='utf-8'?>

<!DOCTYPE hibernate-configuration PUBLIC
    "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
    "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
    
<hibernate-configuration>

  <session-factory>

    <property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
    <property name="hibernate.connection.url">jdbc:mysql://localhost/administracionedificios</property>
    <property name="hibernate.connection.username">root</property>
    <property name="hibernate.connection.password">root</property>
    
    <property name="hibernate.connection.pool_size">1</property>
    <property name="hibernate.dialect">org.hibernate.dialect.MySQLInnoDBDialect</property>
    <property name="transaction.factory_class">org.hibernate.transaction.JDBCTransactionFactory</property>
    
    
    <mapping class="FacturaDTO"/>
    
    <!-- package edificio -->
    <mapping class="edificio.EdificioDTO"/>
    
    <!-- package expensas -->
    <mapping class="expensas.ExpensaCobroDTO"/>
    <mapping class="expensas.ExpensaDTO"/>
    <mapping class="expensas.ExpensaLiquidacionDTO"/>
    
    <!-- package gastos -->
    <mapping class="gastos.GastoDTO"/>
    <mapping class="gastos.GastoPrevisionDTO"/>
    <mapping class="gastos.GastoRealDTO"/>
    <mapping class="gastos.TipoGastoDTO"/>
    <mapping class="gastos.TipoGastoEventualDTO"/>
    <mapping class="gastos.TipoGastoExtraordinarioDTO"/>
    <mapping class="gastos.TipoGastoMontoFijoDTO"/>
    <mapping class="gastos.TipoGastoMontoVariableDTO"/>
    <mapping class="gastos.TipoGastoOrdinarioDTO"/>
    <mapping class="gastos.TipoGastoPeriodicoDTO"/>
    
    
    <!-- package propiedades -->
    <mapping class="propiedades.PropiedadDTO"/>
    <mapping class="propiedades.Responsable"/>
    <mapping class="propiedades.TipoPropiedadDTO"/>
    <mapping class="propiedades.TipoPropiedadTipoGastoDTO"/>
    
     <!-- package usuarios -->
    <mapping class="usuarios.dto.PerfilDTO"/>
    <mapping class="usuarios.dto.UsuarioDTO"/>
    
        
    
  </session-factory>

  
</hibernate-configuration>
